

<head>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
 
<h1> <%= @greeting %> </h1>
<hr />

<p class="lead">
	<%= @name %> commented on your status!
</p>

<hr />

<label class="label label-important">Sticky Notes 2013</label>
