
<div class="row-fluid">

	<div class="span12">

		<h1> Edit Note </h1>
		<hr />

	</div>

</div>

<div class="row-fluid">

	<div class="span12">

		<%= form_for(@note) do |f| %>
			<%= f.text_field :name, {placeholder:"#title",class:"span3 input-small"} %> <br />
			<%= f.text_area :description, {class:"span6 input-small textarea wysihtml5-editor placeholder",style:"height:200px",placeholder:"#putyournotehere"} %> <br />
			<%= button_tag type:"submit",class:"btn btn-primary loading-btn","data-loading-text"=>"Processing..." do %>
				<i class="icon icon-plus-sign icon-white"></i> Save Note
			<% end %>
		<% end %>

	</div>

</div>