
<div class="row-fluid">
	<div class="span12">
		<h1> Your Notes </h1>
		<hr />
	</div>
</div>

<% if notice %>
	<div class="alert alert-success">
		<%= notice %>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-error">
		<%= alert %>
	</div>
<% end %>

<div class="row-fluid">
	<div class="span6">
		<%= render partial:"note", object:@notes %>
	</div>
</div>